{% extends "account/base.html" %}
{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}
{% load tailwind_filters %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
    <div>
        <div class="sm:mx-auto sm:w-full sm:max-w-md">
            <h2 class="mt-6 text-center text-3xl leading-9 font-extrabold text-gray-900">
                Sign in
            </h2>
            <p class="mt-2 text-center text-sm leading-5 text-gray-600 max-w">
                Or
                <a href="{{ signup_url }}"
                   class="font-medium text-green-600 hover:text-green-500 focus:outline-none focus:underline transition ease-in-out duration-150">
                    Create an account
                </a>
            </p>
        </div>

        <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
            <div class="py-8 px-4 sm:rounded-lg sm:px-10">
                {#                <div>#}
                {#                    {% get_providers as socialaccount_providers %}#}
                {#                    {% if socialaccount_providers %}#}
                {#                        {% include "socialaccount/snippets/provider_list.html" with process="login" %}#}
                {#                        {% include "socialaccount/snippets/login_extra.html" %}#}
                {#                    {% endif %}#}
                {#                </div>#}
                <div class="mt-4">
                    <form action="{% url 'account_login' %}" method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                        {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}"
                                   value="{{ redirect_field_value }}"/>
                        {% endif %}
                        <div class="mt-6">
                            <span class="block w-full rounded-md shadow-sm">
                                <button type="submit"
                                        class="w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-green-600 hover:bg-green-500 focus:outline-none focus:border-green-700 focus:shadow-outline-green active:bg-green-700 transition duration-150 ease-in-out">
                                    {% trans "Sign In" %}
                                </button>
                            </span>
                        </div>
                        <div class="mt-6 flex items-center justify-between">
                            <div class="text-sm leading-5">
                                <a href="{% url 'account_reset_password' %}"
                                   class="font-medium text-green-600 hover:text-green-500 focus:outline-none focus:underline transition ease-in-out duration-150">
                                    {% trans "Forgot your password?" %}
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
