{% extends "account/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load tailwind_filters %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
    <div class="flex flex-col justify-center py-12 sm:px-6 lg:px-8">
        <div class="sm:mx-auto sm:w-full sm:max-w-md">
            <h2 class="mt-6 text-center text-3xl leading-9 font-extrabold text-gray-900">
                Start selling products
            </h2>
            <p class="mt-2 text-center text-sm leading-5 text-gray-600 max-w">
                Already have an account?
                <a href="{{ login_url }}"
                   class="font-medium text-green-600 hover:text-green-500 focus:outline-none focus:underline transition ease-in-out duration-150">
                    sign in
                </a>
            </p>
        </div>

        <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
            <div class="py-8 px-4 sm:px-10">
                <form method="post" action="{% url 'account_signup' %}">
                    {% csrf_token %}
                    {{ form|crispy }}
                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}"
                               value="{{ redirect_field_value }}"/>
                    {% endif %}
                    <div class="mt-6">
                      <span class="block w-full rounded-md shadow-sm">
                        <button type="submit"
                                class="w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-green-600 hover:bg-green-500 focus:outline-none focus:border-green-700 focus:shadow-outline-green active:bg-green-700 transition duration-150 ease-in-out">
                          {% trans "Sign Up" %}
                        </button>
                      </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
